boto3
scipy
numpy
matplotlib
pandas
python-dotenv
importlib_resources==6.4.0
datasets==2.20.0
sagemaker
sqlparse
SQLAlchemy
PyAthena
psycopg2-binary
s3fs
pydantic==2.8.2
chromadb==0.5.5
llama-index==0.10.63
llama-index-embeddings-bedrock==0.2.1
transformers 
tokenizers